/* Medium devices (laptops, 992px to 1199px) */
@media (min-width: $screen-md-min) {
  .splash{
    margin:0 !important;
    &-slide{
      //width: 100%;
      height: 400px !important;
      //-moz-box-shadow:    inset  0  20px 40px -15px black, inset  0 -20px 40px -15px black;
      //-webkit-box-shadow: inset  0  20px 40px -15px black, inset  0 -20px 40px -15px black;
      //box-shadow:        inset  0  20px 40px -15px black, inset  0 -20px 40px -15px black;
      //position: relative;

      &-content {
        //position:absolute;
        //top:50%;
        //left:50%;
        //transform:translateY(-50%) translateX(-50%);
        width: auto;
        padding: 15px;
        //text-align: center;
        //color: white;
        //background: rgba(black,.5);
        //border: 3px solid black;
        //padding: 45px;
        h2{
          margin:0 0 15px 0;
          font-size: 28px;
        }
        h3{
          //margin: 0;
          font-size: 22px;
        }
      }
    }
  }
}