//screen size media queries
$screen-sm-min : 768px;
$screen-md-min : 992px;
$screen-lg-min : 1200px;

//font imports
//@import url(https://fonts.googleapis.com/css?family=Pinyon+Script);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:100,200,300,400,700,600,400italic);